fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
python-multipart
pytest
requests
httpx
jinja2
pdfplumber

llama-index-core>=0.14.0
llama-index-llms-openai>=0.2.0
llama-index-embeddings-openai>=0.2.0
pymupdf
llama-index-multi-modal-llms-openai

pillow
pymongo>=4.0.0